.multi-bg {
  width: 100%;
  background: #FFFFEE;
}
#head1 {
  font-size: 30em;
  font-Weight: bold;
}
.strong {
  font-size: 20em;
  font-Weight: bold;
}
img {
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
