.multi-bg {
  width: 100%;
  height: auto;
  background-color: #7bd4c0;
  padding: 10px;
}
#heading1 {
  font-size: 5em;
  font-Weight: bold;
}
.strong {
  font-size: 2em;
  font-Weight: bold;
}
.left {
  float-aligin: left;
  width: 45%;
}
.right {
  float-aligin: right;
  width: 45%;
}
img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
